/* Temporary fixes awaiting move into theme */

body .is-layout-flow > * + * {
  margin-block-start: 1.5rem !important;
}

.post-title {
  font-size: clamp(3rem, 8vw, 4rem);
}

/* How We All Win CSS */
.homepage-slideshow {
  background-color: #171A1C!important;
}

.wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_slide figure {
  align-items: baseline!important;
}
.homepage-slideshow .swiper-pagination {
  display: none!important;
}

.twitter-timeline {
  width: unset!important;
  padding: 0 30px;
}
.title-float {
  position: absolute;
  padding: 0 8px;
  background: #C60739;
  font-weight: 600;
  font-size: 37px;
  color: #ffffff;
  z-index: 1;
}
.title-float.one {
  right: 5%; top: 400px;
}
.title-float.two {
  right: 10%; top: 470px;
}
p.rev-title {
  display: inline-block;
  background: white;
  color: black!important;
  padding: 9px;
  font-weight: 700!important;
}
.img-cover .wp-block-cover__inner-container {
  text-align: center;
  display: block;
}

@media (max-width: 1169px) {
  body.home .has-global-padding.is-layout-constrained .featured-image-stack {
    margin-left: -35px;
    margin-right: -35px;
    margin-top: -5px!important;
  }
}
/* centers the button under 782px */
@media (min-width: 782px) {
  .wp-block-column.title-column {
    display: flex!important;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 950px) {
  .title-float {
     font-size: 30px;
  }
  .title-float.one {
    top: 416px;
  }
}
@media (max-width: 660px) {
  .title-float {
     font-size: 25px;
  }
  .title-float.one {
    top: 450px;
  }
  .title-float.two {
    top: 500px;
  }
}
@media (max-width: 700px) {
  .title-float {
     font-size: 25px;
  }
  .title-float.one {
    top: 270px;
  }
  .title-float.two {
    top: 320px;
  }
}
@media (max-width: 599px) {
  .title-float {
     font-size: 25px;
  }
  .title-float.one {
    top: 200px;
  }
  .title-float.two {
    top: 250px;
  }
}
