/* How We All Win CSS
 * github.com/andrewbaldock/hwaw/
 */

body {
  min-width: 500px;
}

body main.wp-block-group.is-layout-flow {
  margin-block-start: 0.1rem !important;
}

.post-title {
  font-size: clamp(3rem, 8vw, 4rem);
}



/* remove top padding */
body div.wp-site-blocks {
  padding-top: 0!important;
}

/* header */

header.site-header {
  padding-top: 2px;
}
.hwaw-top-nav.wp-block-navigation .wp-block-navigation-link.current-menu-item .wp-block-navigation-item__label {
  border-bottom: unset!important;
  border-top: 2px solid #C04A60;
  padding-top: 5px;
}
.hwaw-top-nav.wp-block-navigation .wp-block-navigation-link:not(.current-menu-item):hover {
  border-top: 2px solid #C04A60;
  color: #C04A60;
}

/* donate button */
.header-donate-button .eb-button-wrapper a.eb-button-anchor  {
  padding: 9px 30px!important;
}
.header-donate-button .eb-button-wrapper:hover {
  opacity: 0.8;
}
.header-donate-button .eb-button-wrapper:active {
  position: relative;
  top: 3px;
  left: 3px;
}

figure.homepage-image {
  width: 100%;
  height: 550px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* homepage image */
@media (min-width: 850px) {
  figure.homepage-image img { margin-top: -80px; }
  figure.homepage-image { height: 470px; }
}
@media (max-width: 850px) {
  figure.homepage-image { height: 450px; }
}
@media (max-width: 800px) {
  figure.homepage-image { height: 400px; }
}
@media (max-width: 750px) {
  figure.homepage-image { height: 350px; }
}
@media (max-width: 700px) {
  figure.homepage-image { height: 300px; }
}

.homepage-below-image .body-column {
  flex-basis: 78%;
}

.needs-left-edge {
  position: absolute;
  /* left is set by script */
}

.about-leader {
  padding-bottom: 0!important;
  padding-top: 0!important;
  margin-bottom: 0!important;
}

.about-leader-photo {
  position: absolute;
  bottom: 0;
}
@media (max-width: 781px) {
  .about-leader-photo {
    position: unset;
  }
}

div.wp-site-blocks main div.wp-block-group.mission-banner {
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}

.twitter-timeline {
  width: unset!important;
  padding: 0 30px;
}

.floating-title {
  position: absolute;
  top: 200px;
  right: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}
.title-float {
  padding: 0 8px;
  background: #C60739;
  font-weight: 600;
  font-size: 37px;
  color: #ffffff;
  margin-bottom: 10px;
}

a.title-float-cta-button {
  background: #FFFFFF;
  border-radius: 3px;
  border: 0;
  color: #171A1C;
  text-decoration: none;
  padding: 12px 55px;
  margin-top: 20px;
}
a.title-float-cta-button:hover {
  color: #C60739;
}

p.rev-title {
  display: inline-block;
  background: white;
  color: black!important;
  padding: 9px;
  font-weight: 700!important;
}
.img-cover .wp-block-cover__inner-container {
  text-align: center;
  display: block;
}
.wp-block-essential-blocks-column.above-flippers-text {
  height: 25px!important;
}

.homepage-donate-block {
  margin-top: 55px!important;
}

.wp-block-jetpack-contact-form {
  padding-left: 170px;
}
.contact-form .contact-form-title {
  position: relative;
  top: 13px;
}

.contact-form .grunion-field,
.email-submit-button button  {
  height:44px;
}
.email-submit-button button  {
  line-height: 1em;
}
@media (max-width: 450px) {
  .email-submit-button button  {
    width: 50%!important;
  }
}

/* --------------------------------------------*/
.oxilab-flip-box-front .oxilab-flip-box-2-data {
  background: #fff!important;
}
.oxilab-flip-box-back-2-data {
  background: #B5283D!important;
  width: 100%!important;
  height: 100%!important;
  margin: 0!important;
}
.oxilab-flip-box-2,
.oxilab-flip-box-back-2 {
  border: none!important;
}
.oxilab-flip-box-2-heading {
  position: absolute;
  margin-top: 62.5%;
}
.oxilab-flip-box-2 .fliptitle {
  display: inline-flex;
  background: white;
  color: black;
  font-family: sans-serif;
  padding: 10px 15px;
}

.site-footer {
  padding:0!important;
}

.center-text {
  text-align: center;
  align-content: center;
}

.blue-navy {
  color: #1478C6!important;
}
.blue-pacific {
  color: #19A7CE!important;
}
.blue-regal {
  color: #004A6B!important;
}

.red-contact-form {
  padding-top: 60px;
}
.red-contact-form .eb-row-inner {
  background: #C60739;
}
.red-contact-form .eb-row-wrapper {
  max-width: unset!important;
}

/* MEDIA PAGE */

.videos-hwaw {
  padding-left: 2px!important;
  padding-right: 2px!important;
}

.media-card {
  box-shadow: 0px 8px 8px 0px #00000040;
  min-height: 550px;
}
.media-card-text {
  padding: 0 46px 15px 30px;
}
.media-card .no-underline-link {
  text-decoration: none;
}
.media-card .no-underline-link:hover {
  opacity: 0.8;
}

.eb-parent-eb-row-x65rb5g {
  display: flex;
}

.eb-column-d5gpwmj,
.eb-column-nlhlc2u {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hide-this-section {
  display: none;
}


.no-underline-link p {
  font-size:25px;
  font-style:normal;
  font-weight:600;
}

@media (max-width: 1169px) {
  body.home .has-global-padding.is-layout-constrained .featured-image-stack {
    margin-left: -35px;
    margin-right: -35px;
    margin-top: -5px!important;
  }
}
/* centers the button under 782px */
@media (min-width: 782px) {
  .wp-block-column.title-column {
    display: flex!important;
    align-items: center;
    justify-content: center;
  }
}
/* floating-title */
@media (max-width: 1000px) {
  .floating-title {
    top: 200px;
  }
  .title-float {
     font-size: 30px;
  }
}
@media (max-width: 781px) {
  .mission-banner .body-column {
    padding-top: 50px;
  }
}
@media (max-width: 700px) {
  .floating-title {
    top: 210px;
  }
  .title-float {
     font-size: 25px;
  }
}
@media (max-width: 600px) {
  .floating-title {
    top: 150px;
  }
  .title-float {
     font-size: 20px;
  }
}

.above-flippers-text {
  font-size: 24px !important;
}

.eb-flipbox-back .eb-flipbox-back-content-wrapper p.eb-flipbox-back-content {
  text-align: left!important;
}

.contact-form-title {
  text-align: center!important;
}


@media (max-width: 1125px) {
  div.above-flippers-text p {
    font-size: 22px!important;
  }
}
@media (max-width: 1000px) {
  div.above-flippers-text p {
    font-size: 18px!important;
  }
}
@media (max-width: 825px) {
  div.above-flippers-text p {
    font-size: 15px!important;
  }
}
@media (max-width: 700px) {
  div.above-flippers-text p {
    font-size: 13px!important;
  }
}

