/* Temporary fixes awaiting move into theme */

body .is-layout-flow > * + * {
  margin-block-start: 1.5rem !important;
}

.post-title {
  font-size: clamp(3rem, 8vw, 4rem);
}

/* How We All Win CSS */

/* header */
.hwaw-top-nav.wp-block-navigation .wp-block-navigation-link.current-menu-item .wp-block-navigation-item__label {
  border-bottom: unset!important;
  border-top: 2px solid #C04A60;
  padding-top: 5px;
}
.hwaw-top-nav.wp-block-navigation .wp-block-navigation-link:not(.current-menu-item):hover {
  border-top: 2px solid #C04A60;
  color: #C04A60;
}

/* donate button */
.header-donate-button .eb-button-wrapper a.eb-button-anchor  {
  padding: 9px 30px!important;
}
.header-donate-button .eb-button-wrapper:hover {
  opacity: 0.8;
}
.header-donate-button .eb-button-wrapper:active {
  position: relative;
  top: 3px;
  left: 3px;
}


.homepage-slideshow {
  background-color: #171A1C!important;
}
body.home .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_container.swiper-container {
  max-height: 650px!important;
}

body.home .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_slide figure {
  align-items: baseline!important;
}
.homepage-slideshow .swiper-pagination,
.wp-block-jetpack-slideshow_button-prev,
.wp-block-jetpack-slideshow_button-next,
.wp-block-jetpack-slideshow_button-pause {
  display: none!important;
}

.twitter-timeline {
  width: unset!important;
  padding: 0 30px;
}

.floating-title {
  position: absolute;
  top: 400px;
  right: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}
.title-float {
  padding: 0 8px;
  background: #C60739;
  font-weight: 600;
  font-size: 37px;
  color: #ffffff;
  margin-bottom: 10px;
}

a.title-float-cta-button {
  background: #FFFFFF;
  border-radius: 3px;
  border: 0;
  color: #171A1C;
  text-decoration: none;
  padding: 12px 55px;
  margin-top: 20px;
}
a.title-float-cta-button:hover {
  color: #C60739;
}

p.rev-title {
  display: inline-block;
  background: white;
  color: black!important;
  padding: 9px;
  font-weight: 700!important;
}
.img-cover .wp-block-cover__inner-container {
  text-align: center;
  display: block;
}
.wp-block-essential-blocks-column.above-flippers-text {
  height: 25px!important;
}

.homepage-flip-health {
  text-align: center;
}
.homepage-flip-title {
  white-space: pre-wrap;
  min-width: 1px;
  background: #fff;
  width: unset;
  display: inline-flex;
  color: black!important;
  padding: 15px;
  font-size: 22px!important;
  font-weight: 700;
}


.site-footer {
  padding:0!important;
}

@media (max-width: 1169px) {
  body.home .has-global-padding.is-layout-constrained .featured-image-stack {
    margin-left: -35px;
    margin-right: -35px;
    margin-top: -5px!important;
  }
}
/* centers the button under 782px */
@media (min-width: 782px) {
  .wp-block-column.title-column {
    display: flex!important;
    align-items: center;
    justify-content: center;
  }
}
/* floating-title */
@media (max-width: 1000px) {
  .floating-title {
    top: 300px;
  }
  .title-float {
     font-size: 30px;
  }
}
@media (max-width: 700px) {
  .floating-title {
    top: 200px;
  }
  .title-float {
     font-size: 25px;
  }
}
